<h3><%name%></h3>
<% if (avatar && avatar.url) { %>
  <img src="<%= avatar.url %>" alt="Contact photo" class="img" />
<% } else { %>
  <img src="http://placehold.it/250x250" alt="Contact photo" class="img" />
<% } %>

<ul class="social-networks">
  <% if (facebook) { %>
    <li>
      <a href="<%= facebook %>" title="Google Drive">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
  <% } %>
  <% if (twitter) { %>
    <li>
      <a href="<%= twitter %>" title="Twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
  <% } %>
  <% if (google) { %>
    <li>
      <a href="<%= google %>" title="Google Drive">
        <i class="fa fa-google-plus"></i>
      </a>
    </li>
  <% } %>
</ul>
